################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/EdgeMonitor/v17
/bin/Debug/net9.0
/obj
